.footer{
	border-top: 5px solid #f6d200;
	background: #575151;
	min-height: 85px;
}
.footer-left{
	width: 50%;
}
.social{
	@include clearfix;
	float: left;
	.twitter{
		padding: 28px;
		padding-top: 40px;
		margin-top: -14px;
		background: url(img/twit-btn.png) no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		float: left;
	}
	.facebook{
		padding: 28px;
		padding-top: 40px;
		margin-top: -14px;
		background: url(img/fb-btn.png) no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		float: left;
		margin-left: 20px;
	}
}
.copy{
	margin-left: 40px;
	float: left;
	p{
		@include lato;
		font-size: 14px;
		color: white;
		font-weight: 800;
		span{
			font-weight: 200;
			margin-right: 5px;
		}
	}
}
.extra{
    width: 40%;
    float: left;
    text-align: right;
    @include lato;
    font-size: 14px;
    color: white;
    font-weight: 800;
}

.gplay{
	float: left;
	margin-left: 20px;
	margin-top: -20px;
	width: 276px;
	height: 80px;
	img{
		width: 100%;
	}
}

.rich-footer{
	padding: 36px 100px;
	@include box-sizing(border-box);
	background: #d1d4d0;
	margin-top: 100px;
	@include clearfix;
	.left-col{
		float: left;
		width: 25%;
		h3{
			color: #018f86;
			@include lato;
			@include font-size(18px);
			font-weight: 800;
			text-transform: capitalize;
		}
		ul{
			@include reset-list;
			li{
				display: block;
				a{
					color: #808080;
					@include lato;
					@include font-size(14px);
					font-weight: 400;
					text-transform: capitalize;
				}
			}
		}
	}
	.center-col{
		float: left;
		width: 50%;
		ul{
			@include reset-list;
			vertical-align: middle;
			margin-top: 60px;
			li{
				display: inline-block;
				margin: 0 20px;
				padding: 0 20px;
				margin-left: 0;
				padding-left: 0;
				border-right: 2px solid #f6d200;
				a{
					color: #018f86;
					@include lato;
					@include font-size(18px);
					font-weight: 400;
					text-transform: capitalize;
				}
			}
		}
	}
	.right-col{
		float: left;
		width: 25%;
		.copy{
			width: 140px;
			@include lato;
			font-weight: italic;
			color: #575151;
			font-size: 12px;
			text-align: right;
			margin-top: 60px;
		}
	}
}

