.container{
	width: 1200px;
	margin: 0 auto;
    @include clearfix;
}

.inner{
	padding: 0 150px;
    @include clearfix;
}

.site-header{
	background: #00a596;
	min-height: 70px;
	@include clearfix;
}
.logo{
	float: left;
	margin-top: 20px;
	height: 28px;
	img{
		height: 100%;
	}
}
.header-right{
	float: right;
	margin-right: 34px;
	.searchbar{
		float: left;
		.search{
			border: none;
			border-bottom:1px solid white;
			margin-top: 20px;
			color: white;
			background: none;
			@include font-size(20px);
			float: right;
			&::-webkit-input-placeholder {
			   color: white;
			   text-transform: capitalize;
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: white;
			   text-transform: capitalize;  
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: white;
			   text-transform: capitalize;  
			}

			&:-ms-input-placeholder {  
			   color: white;
			   text-transform: capitalize;  
			}
		}
		.submit{
			float: right;
			@include hide-text;
			width: 20px;
			height: 20px;
			background: url(img/search.png) no-repeat;
			-webkit-background-size: contain;
			background-size: contain;
			border: none;
			margin-top: 30px;
			margin-right: 10px;
			cursor: pointer;
		}
	}
}

.main-nav{
	width: 70px;
	height: 380px;
	background: blue;
	position: fixed;
	top: 50%;
	margin-top: -190px;
	left: 0;
	z-index: 100000;
	ul{
		@include reset-list;
		li{
			display: block;
			height: 64px;
			a{
				display: block;
				height: 64px;
			}
		}
		.login_nav{
			background: #008e86 url(img/login.png)no-repeat center center;
		}
		.home_nav{
			background: #57af21 url(img/home_nav.png)no-repeat center center;
		}
		.about_nav{
			background: #93c600 url(img/about.png)no-repeat center center;
		}
		.store_nav{
			background: #93c600 url(img/store.png)no-repeat center center;
		}
		.bags_nav{
			background: #93c600 url(img/bags.png)no-repeat center center;
		}
		.ask_nav{
			background: #93c600 url(img/ask.png)no-repeat center center;
		}
	}
}
