body{
    overflow-x:hidden !important;
}
.xxx{
	width: 230px;
	height: 40px;
	background: red;
	@include animation(flash 10s infinite);
}
.gotop{
    width: 48px;
    height: 48px;
    background: url(img/gotop.png)no-repeat;
    position: fixed;
    bottom: -50px;
    right: -50px;
    z-index: 10000000;
    @include transition(.4s ease-out);
    cursor: pointer;
}
.section-title{
    color: white;
    text-align: center;
    display: block;
    @include font-size(40px);
    @include advent;
    font-weight: 600;
    text-transform: capitalize;

}
.black{
    color: black;
}
.row{
    display: block;
    @include clearfix;
}
.col-left{
    float: left;
}
.col-right{
    float: right;
}
.intro{
    height: 560px;
    background: url(img/slidebg.png)no-repeat;
    background-size: cover;
    padding-top: 140px;
    h1{
        @include advent;
        color: white;
        font-size: 48px;
        font-weight: 400;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        text-transform: capitalize;
        display: inline-block;
        margin: 0;
        margin-top: 50px;
    }
    h3{
        @include advent;
        color: white;
        font-size: 36px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0;
    }
    p{
        font-size: 18px;
        font-weight: 200;
        @include advent;
        color: white;
        width: 600px;
    }
}
.stores{
    background: #f7d015;
    min-height: 680px;
    padding: 50px 0;
    ul{
        @include reset-list;
        @include clearfix;
        li{
            @include col(3, percent, left);
            min-height: 400px;
            padding: 10px;
            background: white;
            @include box-sizing(border-box);
            @include border-radius(6px);
            &:nth-child(4n){
                margin-right: 0;
            }
            figure{
                height: 260px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .stores-content{
        .store-name{
            @include font-size(14px);
            @include lato;
            color: black;
            text-transform: capitalize;
        }
        .store-detail{
            @include clearfix;
            .category{
                @include lato;
                @include font-size(12px);
                line-height: 1.2;
                font-weight: 200;
                color: #e1dad8;
                float: left;
            }
            .star-rating {
                width: 90px;
                height: 14px;
                background: red;
                float: right;
                background: url(img/inactive-star.png)no-repeat;
                span{
                    display: block;
                    height: 14px;
                    background: url(img/active-star.png)no-repeat;
                }
            }
        }
        .top-content{
            padding: 10px;
            border-bottom: 1px solid #4d5152;
        }
        .bottom-content{
            @include clearfix;
            padding: 10px 0;
            .discount{
                float: left;
                width: 50%;
                text-align: center;
                @include lato;
                @include font-size(12px);
                color: #a3a3a3;
                span{
                    width: 35px;
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    border-right: 1px solid #a3a3a3;
                    border-left: 1px solid #a3a3a3;
                    color: #a3a3a3;
                    margin-bottom: 5px;
                }
            }
            .egg-visit{
                float: left;
                width: 50%;
                text-align: center;
                @include lato;
                @include font-size(12px);
                color: #a3a3a3;
                span{
                    width: 25px;
                    height: 25px;
                    display: block;
                    margin: 0 auto;
                    border: 1px solid #a3a3a3;
                    @include lato;
                    @include font-size(12px);
                    color: #a3a3a3;
                    @include border-radius(50%);
                    margin-bottom: 2px;
                }
            }
        }
        .view-more{
            @include font-size(9px);
            color: white;
            @include lato;
            font-weight: 200;
            background: #00a197;
            padding: 0px 10px;
            width: 90px;
            margin: 0 auto;
            display: block;
        }

    }
    .link-store{
        @include border-radius(10px);
        background: #00a197;
        color: white;
        @include lato;
        width: 184px;
        height: 48px;
        display: block;
        margin: auto;
        margin-top: 50px;
        @include font-size(20px);
        line-height: 48px;
        text-align: center;
    }
}

.info{
    padding: 20px 0;
    width: 100%;
}
.video{
    position: relative;
    overflow: hidden;
    .caption {
        position: absolute;
        z-index: 100;
        width: 390px;
        left: 50%;
        margin-left: -195px;
        margin-top: 24px;
        text-align: center;
        .play {
            margin-top: 24px;
            background: url(img/play.png) no-repeat;
            width: 94px;
            height: 94px;
            text-align: center;
            position: relative;
            display: -moz-inline-stack;
            -moz-box-orient: vertical;
            display: inline-block;
            vertical-align: top;
        }
    }
}
.ask{
    background: #01a299 url(img/pattern.png);
    width: 100%;
    min-height: 690px;
    padding-bottom: 60px;
    h3{
        color: white;
        @include font-size(38px);
        @include advent;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 100px;
        margin-top: 120px;
    }
}
.faq{
    width: 60%;
    padding-right: 90px;
    @include box-sizing(border-box);
    p{
        @include lato;
        font-size: 25px;
        font-weight: 400;
        color: white;
        display: inline-block;
        border-bottom: 1px solid white;
        margin: 10px 0;
        padding: 10px 0;
    }
}

.contact{
    width: 40%;
    min-height: 400px;
    padding-top: 150px;
    input[type=text]{
        width: 100%;
        height: 46px;
        padding: 25px;
        @include box-sizing(border-box);
        border: none;
        @include border-radius(10px);
    }
    textarea{
        min-height: 260px;
        width: 100%;
        @include border-radius(10px);
    }
    .submit{
        input[type=submit]{
            @include border-radius(10px);
            background: #f6d200;
            padding: 10px 40px;
            border: none;
            font-size: 20px;
            @include advent;
            float: right;
        }
    }
}

.about{
    min-height: 580px;
    background: white;
    padding: 50px 0;
    .about-content{
        @include col(4, percent, left);
        min-height: 300px;
        text-align: center;
        margin-top: 50px;
        &:last-child{
            margin-right: 0;
        }
        img{
            display: inline-block;
            margin-bottom: 20px;
        }
        p{
            @include lato;
            font-weight: 200;
            color: #a3a3a3;
            @include font-size(13.5px);
        }
    }
    .link{
        @include border-radius(10px);
        background: #00a197;
        color: #dbcd10;
        @include lato;
        width: 184px;
        height: 48px;
        display: block;
        margin: auto;
        margin-top: 50px;
        @include font-size(20px);
        line-height: 48px;
        text-align: center;
    }
}

.bags{
    padding: 50px 0;
}
.slider{
    background: #01a299;
    padding: 50px 0;
}


.sticky_el{
    right: 50px;
    bottom: 50px;    
}



.stores-thumbnail{
    background: white;
    .head-section{
        @include clearfix;
        .section-title{
            @include lato;
            font-weight: 200;
            color: black;
            @include font-size(32px);
            line-height: 1.2;
            text-align: left;
            @include inline-block;
            padding-bottom: 10px;
            margin-bottom: 40px;
            float: left;
        }
        .button{
            float: right;
            margin-top: 50px;
            margin-right: 20px;
        }
    }
    .yellow{
        .section-title{
            border-bottom: 2px solid #fc9c12;
        }
        .button{
            background: #fc9c12;
        }
    }
    .blue{
        .button{
            background: #11b8f2;
        }
        .section-title{
            border-bottom: 2px solid #11b8f2;
        }
    }
    .red{
        .button{
            background: #da1c5c;
        }
        .section-title{
            border-bottom: 2px solid #da1c5c;
        }
    }
    
    ul{
        @include reset-list;
        @include clearfix;
        li{
            width: calc(20% - 10px);
            float: left;
            min-height: 400px;
            padding: 5px;
            border: 5px solid #fae067;
            background: white;
            @include box-sizing(border-box);
            @include border-radius(6px);
            margin-right: 10px;
            &:nth-child(5n){
                margin-right: 0;
            }
            figure{
                height: 180px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .stores-content{
        .store-name{
            @include font-size(14px);
            @include lato;
            color: black;
            text-transform: capitalize;
        }
        .store-detail{
            @include clearfix;
            .category{
                @include lato;
                @include font-size(12px);
                line-height: 1.2;
                font-weight: 200;
                color: #e1dad8;
                float: left;
            }
            .star-rating {
                width: 90px;
                height: 14px;
                background: red;
                float: right;
                background: url(img/inactive-star.png)no-repeat;
                span{
                    display: block;
                    height: 14px;
                    background: url(img/active-star.png)no-repeat;
                }
            }
        }
        .top-content{
            padding: 10px;
            border-bottom: 1px solid #4d5152;
        }
        .bottom-content{
            @include clearfix;
            padding: 10px 0;
            .discount{
                float: left;
                width: 50%;
                text-align: center;
                @include lato;
                @include font-size(12px);
                color: #a3a3a3;
                span{
                    width: 35px;
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    border-right: 1px solid #a3a3a3;
                    border-left: 1px solid #a3a3a3;
                    color: #a3a3a3;
                    margin-bottom: 5px;
                }
            }
            .egg-visit{
                float: left;
                width: 50%;
                text-align: center;
                @include lato;
                @include font-size(12px);
                color: #a3a3a3;
                span{
                    width: 25px;
                    height: 25px;
                    display: block;
                    margin: 0 auto;
                    border: 1px solid #a3a3a3;
                    @include lato;
                    @include font-size(12px);
                    color: #a3a3a3;
                    @include border-radius(50%);
                    margin-bottom: 2px;
                }
            }
        }
        .view-more{
            @include font-size(9px);
            color: white;
            @include lato;
            font-weight: 200;
            background: #00a197;
            padding: 0px 10px;
            width: 90px;
            margin: 0 auto;
            display: block;
        }

    }
    .link-store{
        @include border-radius(10px);
        background: #00a197;
        color: white;
        @include lato;
        width: 184px;
        height: 48px;
        display: block;
        margin: auto;
        margin-top: 50px;
        @include font-size(20px);
        line-height: 48px;
        text-align: center;
    }
}
// .stores-thumbnail {
//     &:nth-child(2n){
//         .section-title{
//             border-bottom: 2px solid #00b080;
//         }
//     }
//     &:first-child{
//         .section-title{
//             border-bottom: 2px solid #da1c5c;
//         }
//     }
// }

.store-detail{
    @include clearfix;
    .container{
        padding-top: 80px;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }
    .product-thumb{
        width: 215px;
        height: 215px;
        background: #01a29a;
        float: left;
    } 
    .detail-product{
        float: right;
        width: calc(100% - 235px);
        .row{
            display: block;
            @include clearfix;
            &:first-child{
                border-bottom: 2px solid black;
            }
        }
        .product-name{
            float: left;
            width: 50%;
            h3{
                margin: 0;
                font-weight: 400;
                text-transform: capitalize;
                @include lato;
                font-size: 27px;
                color: #01a29a;
                display: inline-block;
            }
            .star-rating {
                width: 90px;
                height: 14px;
                background: red;
                display: inline-block;
                margin-left: 20px;
                background: url(img/inactive-star.png)no-repeat;
                span{
                    display: block;
                    height: 14px;
                    background: url(img/active-star.png)no-repeat;
                }
            }
            .quote{
                color: #575151;
                font-size: 20px;
                font-style: italic;
                margin: 12px 0;
            }
        }
        .direction{
            float: right;
            @include lato;
            font-weight: 800;
            font-size: 12px;
            color: #575151;
            padding-right: 30px;
            @include inline-block;
            height: 25px;
            line-height: 25px;
            background: url(img/marker.png)no-repeat right;
        }
    }   
    .address{
        float: left;
        margin-top: 10px;
        span{
            display: block;
            font-size: 12px;
            color: #575151;
            @include lato;
        }
        .url{
            font-weight: 800;
            color: #01a29a;
            @include font-size(17px);
        }
        .social{
            margin-top: 5px;
            a{
                padding-left: 20px;
                @include inline-block;
                margin-right: 20px;
                color: #575151;
            }
            .fb{
                background: url(img/fbi.png)no-repeat left;
            }
            .twt{
                background: url(img/twt.png)no-repeat left;
            }
        }
        .active-member{
            margin-top: 5px;
            color: red;
            @include lato;
            font-weight: 800;
            font-size: 10px;
            display: block;
            span{
                color: red;
                @include lato;
                font-weight: 800;
                font-size: 10px;
                display: inline;
            }
        }
        .promo{
            @include lato;
            font-weight: 800;
            font-size: 10px;

            span{
                display: inline;
            }
        }
    }
    .eggs{
        float: right;
        background: url(img/eggs.png)no-repeat right;
        height: 120px;
        .available,
        .egg-visit{
            display: block;
            margin-top: 40px;
            margin-right: 40px;
            font-weight: 800;
            @include lato;
            font-size: 13px;
            color: #575151;
            line-height: 1.6;
            text-align: right;
            span{
                margin-right: 5px;
                color: #01a29a;
                @include lato;
                font-weight: 800;
            }
        }
        .egg-visit{
            margin-top: 0;
        }
    }
}
.recent-promo{
    padding-bottom: 20px;
    display: block;
    h3{
        color: #01a29a;
        @include font-size(24px);
        @include lato;
        font-weight: 400;
        text-transform: capitalize;
    }
    .col-4{
        width: calc(25% - 30px);
        margin-right: 40px;
        min-height: 300px;
        float: left;
        &:last-child{
            margin-right: 0;
        }
    }
    figure{
        width: 100%;
        min-height: 200px;
        background: #01a29a;
    }
    .inst{
        color: #9bc41e;
        @include font-size (12px);
        width: 160px;
        line-height: 1.2;
        margin-bottom: 4px;
    }
    .validation{
        font-size: 10px;
        color: #ef464f;
    }
    .kode-promo,
    .kode-barang{
        display: block;
        font-size: 8px;
        color: black;
        text-transform: capitalize;
    }
}

.description{
    .container{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-bottom: 35px;
        h3{
            color: #01a29a;
            @include lato;
            @include font-size(24px);
            text-transform: capitalize;
            font-weight: 400;
        }
        p{
            color: #797979;
            font-size: 12px;
            @include lato;
            font-weight: 400;
        }
        .more{
            color: #01a29a;
            @include lato;
            font-weight: 400;
            font-size: 14px;
            text-transform: capitalize;
        }
    }
}

.sort{
    margin-top: 60px;
    label{
        display: block;
        text-transform: capitalize;
        @include lato;
        font-size: 16px;
        color: black;
    }
    #category{
        margin-top: 10px;
        padding: 10px;
        padding-right: 60px;
        border: 1px solid black;
        background: url(img/drop.png)no-repeat 90%;
        @include lato;
        font-size: 13px;
        text-transform: capitalize;
        @include inline-block;
    }
    .sorter{
        @include lato;
        font-size: 13px;
        text-transform: capitalize;
        @include inline-block;
        color: black;
        margin: 20px;
    }
}
.gallery-product{
    .container{
        padding: 0 50px;
        @include box-sizing(border-box);
    }
    h3{
        @include lato;
        font-size: 24px;
        color: #01a29a;
        text-transform: capitalize;
        margin-left: -50px;
        margin-top: 10px;
        font-weight: 400;
    }
}
.gallery{
    position: relative;
    padding-bottom: 50px;
    .item{
        background: #01a29a;
        min-height: 320px;
        margin-right: 20px;
        &:nth-child(n3){
            margin-right: 0 !important;
        }
    }
    .owl-controls{
        position: absolute;
        top: 50%;
        width: 100%;
        @include translateY(-100%);
        .owl-buttons{
            @include clearfix;
        }
        .owl-prev{
            margin-left: -50px;
            @include hide-text;
            background: url(img/prev-gal.png)no-repeat center;
            display: inline-block;
            width: 43px;
            height: 43px;
            float: left;
        }
        .owl-next{
            margin-right: -30px;
            @include hide-text;
            background: url(img/next-gal.png)no-repeat center;
            display: inline-block;
            width: 43px;
            height: 43px;
            float: right;
        }
    }
}

.similiar{
    .container{
        border-top: 1px solid black;
    }
    .head-section .section-title{
        color: #01a29a;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}


.login-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    // z-index: 10;
    display: none;
    .container{
        position: relative;
        height: 680px;
    }
}

.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 25px 0;
    background: white;
    @include translate(-50%, -50%);
    text-align: center;
    width: 300px;
    height: 275px;
    .control-group {
        margin-bottom: 10px;
    }

    input {
        text-align: center;
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 200;
        padding: 10px 0;
        width: 250px;
        transition: border .5s;
    }

    input:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
    }
    [placeholder]:focus::-webkit-input-placeholder {
        @include transition(all .3s ease-in-out);
        @include scale(0.5);
        opacity: 0;
    }

    .btn {
        border: 2px solid transparent;
        background: #01a29a;
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 0;
        text-decoration: none;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        transition: 0.25s;
        display: block;
        width: 250px;
        margin: 0 auto;
        text-transform: uppercase;
        @include lato;
    }

    .btn:hover {
    background-color: #2980B9;
    }

    .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
    }

    .radioP {
      display: block;
      position: relative;
      margin: 20px auto;
      padding-left: 20px;
      width: 120px;
      @include lato;
      font-size: 14px;
      color: black;
      text-transform: capitalize;
    }
    .radioP:first-child {
     margin:0 0 20px 0; 
    }

    input[type="radio"] {
      display: block;
      position: absolute;
      top:0;
      left:0;
      z-index: 0;
      width: 20px;
    }

    /* For IE 7-8-9

    input[type="radio"] {
      display: inline-block;
    }
    input[type="radio"] + label span.radioButtonGraph {
      display: none;
    }

    */

    input[type="radio"] + label span.radioButtonGraph {
      appearance: none;

      z-index: 20;
      position: absolute;
      top:-3px;
      left:0;
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
      vertical-align: middle;
      box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;

      background: #efefef;
      background-image: radial-gradient(ellipse at center,  #62c2f3 0%,#62c2f3 40%,#efefef 45%);
      background-repeat: no-repeat;

      transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
    }
    input[type="radio"]:checked + label span.radioButtonGraph {
      transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
    }

    input[type="radio"] + label span.radioButtonGraph {
      background-position: -24px 0;
    }
    input[type="radio"]:checked + label span.radioButtonGraph {
      background-position: 0 0;
    }

    input[type="submit"] {
      border:none;
      background:#62c2f3;
      color:#fff;
      font-size:20px;
      padding:10px 0;
      border-radius:3px;
      cursor:pointer;
      width:100%;
    }
    input[type="submit"]:hover {opacity:.8;}
    input[type="submit"]:active {opacity:1;}
    }



