// Reset CSS
// Simple and customizer version of Normalize.css
// =================================================================================

body,
figure {
    margin: 0;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, nav, section, summary {
    display: block;
}

audio, canvas, video {
    @include inline-block;
}

audio:not([controls]),
[hidden] {
    display: none;
    height: 0;
}

a:focus {
    outline: none;
}

a:active,
a:hover {
    outline: 0;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

img {
    border: 0;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

a img {
  border: none;
}

svg:not(:root) {
    overflow: hidden;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="radio"] { 
    vertical-align: text-bottom;
}

input[type="checkbox"] { 
    vertical-align: text-bottom; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    padding-left: 1.5em;
}



textarea, select, input[type="email"], input[type="password"], input[type="search"], input[type="text"], input[type="url"], input[class*="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}