.cl {
	@include clearfix;
}
.container{
	margin: 0 auto;
}
a{
	text-decoration: none;
}
hr{
	margin: 24px 0;
}
textarea:focus, input:focus{
    outline: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
	@include transition(all .3s ease-in-out);
    @include translate(300px, 0);
    opacity: 0;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row{
	@include clearfix;
}
.pull-left {
	@include float( left );
}
.pull-right {
	@include float( right );
	margin-left: 1.5em;
}
.accessible-text {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.hide-text {
	@include hide-text;
}

.delay1{
	@include transition-delay(.4s);
}
.delay2{
	@include transition-delay(.8s);
}
.delay3{
	@include transition-delay(1.2s);
}

.center-block{
	display: block;
	margin: 0 auto;
}


.delay1{
	@include transition-delay(.2s);
}
.delay2{
	@include transition-delay(.4s);
}
.delay3{
	@include transition-delay(.8s);
}
.delay4{
	@include transition-delay(1.2s);
}


.button{
	padding: 5px;
	color: white;
	text-transform: capitalize;
	@include  lato;
	font-size: 16px;
	// display: inline-block;
}
