// @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,100,200,300,700,600,500);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@mixin advent{
    font-family: 'Advent Pro', sans-serif;
}
@mixin lato{
    font-family: 'Lato', sans-serif;;
}
